---
http_interactions:
  - request:
      method: post
      uri: https://connect.squareupsandbox.com/v2/customers/search
      body:
        encoding: UTF-8
        string: '{"limit":1,"query":{"filter":{"email_address":{"fuzzy":"email1@example.com"}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Authorization:
          - Bearer
        Square-Version:
          - '2021-09-15'
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        Content-Type:
          - application/json
        X-Sq-Envoy-Safe-Auth-Decision:
          - UNAUTHORIZED
      body:
        encoding: UTF-8
        string: |-
          {
            "errors": [
              {
                "category": "AUTHENTICATION_ERROR",
                "code": "UNAUTHORIZED",
                "detail": "This request could not be authorized."
              }
            ]
          }
    recorded_at: Tue, 05 Oct 2021 17:28:21 GMT
recorded_with: VCR 6.0.0
